<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonheader(~{::title})">

    <title>Dynamic Table</title>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common::leftside"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div th:replace="common::headerside"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                员工表格
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> 员工表格</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">

                        <header class="panel-heading">
                            动态表格(自定义)


                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                            <div style="padding-top: 20px;padding-bottom:10px">
                                <form role="form" th:action="@{/likeSearch}" method="post">
                                    id:<input name="id" style="width: 50px;display: inline" type="text"
                                              class="form-control" placeholder="id">
                                    姓名:<input name="lastName" style="width: 100px;display: inline" type="text"
                                              class="form-control" placeholder="姓名">
                                    邮箱:<input name="email" style="width: 150px;display: inline" type="text"
                                              class="form-control" placeholder="邮箱">
                                    性别:<input name="gender" style="width: 100px;display: inline" type="text"
                                              class="form-control" placeholder="男或者女">
                                    <!--以下是准备做性别的下拉选择的-->
                                    <!--<div class="btn-group open">
                                        <input class="btn btn-default" type="button"></input>
                                        &lt;!&ndash;下拉按钮&ndash;&gt;
                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="#">男</a></li>
                                            <li><a href="#">女</a></li>

                                        </ul>
                                    </div>-->
                                    部门:<input disabled style="width: 150px;display: inline" type="text"
                                              class="form-control" placeholder="部门">
                                    <button style="width: 100px;margin-bottom:1px " class="btn btn-success"
                                            type="submit">查找
                                    </button>
                                </form>
                            </div>
                        </header>

                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr style="color:mediumvioletred">
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th class="hidden-phone">邮箱</th>
                                        <th class="hidden-phone">性别</th>
                                        <th class="hidden-phone">部门</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="emp,state : ${pageInfo.list}">
                                        <th th:text="${state.count}">#</th>
                                        <th th:text="${emp.id}">ID</th>
                                        <th th:text="${emp.lastName}">用户名</th>
                                        <th th:text="${emp.email}" class="hidden-phone">邮箱</th>
                                        <th th:text="${emp.gender=='1'}?'男':'女' " class="hidden-phone">性别</th>
                                        <th th:text="${emp.dept.deptName}" class="hidden-phone">部门</th>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr style="color:mediumvioletred">
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th class="hidden-phone">邮箱</th>
                                        <th class="hidden-phone">性别</th>
                                        <th class="hidden-phone">部门</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <!--显示分页信息-->
                                <div class="modal-footer no-margin-top">
                                    <div class="col-md-6">
                                        当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]]
                                        条记录
                                    </div>
                                    每页的条数：<input class="text-input-dialog" name="pageSize" style="display: inline"
                                                 type="text">
                                    <!--分页通过下拉框选择每页显示的个数-->
                                    <div id="dynamic-table_length" class="dataTables_length">
                                        <label>
                                            <select
                                            class="form-control" size="1" name="dynamic-table_length"
                                            aria-controls="dynamic-table">

                                            <option value="5" th:selected="${pageInfo.pageSize==5 }">5</option>
                                            <option value="10" th:selected="${pageInfo.pageSize==10}">10</option>
                                            <option value="20" th:selected="${pageInfo.pageSize==20}">20</option>
                                            <option value="100" th:selected="${pageInfo.pageSize==100}">100</option>
                                            </select>
                                            每页显示的条数
                                        </label>
                                    </div>

                                    <ul class="pagination pull-right no-margin">
                                        <li th:if="${pageInfo.hasPreviousPage}">
                                            <!-- <a th:href="'/testPageHelper1?pageNum=1'">首页</a>-->
                                            <a th:href="@{/dynamic_table2(pageNum=1)}">首页</a>
                                        </li>

                                        <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                            <a th:href="'/dynamic_table2?pageNum='+${pageInfo.prePage}">
                                                <i class="ace-icon fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <!--遍历条数-->
                                        <li th:each="nav:${pageInfo.navigatepageNums}">
                                            <!--<a th:href="'/testPageHelper1?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>-->
                                            <a class="a_pageNum" th:value="${nav}" th:href="@{'/dynamic_table2?pageNum=' +${nav} }" th:text="${nav}"
                                               th:if="${nav != pageInfo.pageNum}"></a>

                                            <span style="font-weight: bold;background: #6faed9;"
                                                  th:if="${nav == pageInfo.pageNum}" th:text="${nav}"></span>
                                        </li>

                                        <li class="next" th:if="${pageInfo.hasNextPage}">
                                            <a th:href="@{'/dynamic_table2?pageNum='+${pageInfo.nextPage}}">
                                                <i class="ace-icon fa fa-angle-double-right"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <!--<a th:href="'/testPageHelper1?pageNum='+${pageInfo.pages}">尾页</a>-->
                                            <a th:href="@{/dynamic_table2(pageNum=${pageInfo.pages})}">尾页</a>
                                        </li>
                                    </ul>
                                    <!--直接跳到某一页-->
                                    <div style="padding-top: 25px">
                                        到第<input style="width: 50px" name="pn" id="pn_input" th:value="${param.pageNum}">页
                                        <input id="searchPageBtn" style="width: 80px" type="button"  value="确定">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>

        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div th:replace="common::commonscript"></div>

<!--dynamic table-->
<!--<script type="text/javascript" language="javascript" th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>-->
<!--dynamic table initialization -->
<!--<script th:src="@{/js/dynamic_table_init.js}"></script>-->
<!--选择进入某一页-->
<script type="text/javascript">
    $(function () {
        //跳到指定的页码
        $("#searchPageBtn").click(function () {
            var pageSize = $(".dataTables_length option:selected").val();
            //alert(location.href);
            var inputPageNum = $("#pn_input").val();
            //地址栏参数的变化：相当于发送了一个请求：
            location.href='/dynamic_table2?pageNum='+inputPageNum+'&pageSize='+pageSize;
            window.event.returnValue=false;
            alert( location.href);
        });
    });
</script>
<!--下拉框选择分页pageSize发送请求-->
<script type="text/javascript">
    $(".dataTables_length").change(function(){
        var pageSize = $(".dataTables_length option:selected").val();
        // <a class="a_pageNum" th:value="${nav}"通过这种方法将每一页的页码取到了
        //var pageNum = $(".a_pageNum").val();

      /*  alert(pageNum);
        alert(pageSize);*/

        location.href="/dynamic_table2?pageNum=1" +"&pageSize="+pageSize;

    });
</script>

<!--点分页多少条的时候发送一个新的地址栏，带一个参数的，一个参数默认第一页-->
<script type="text/javascript" th:inline="javascript">
    $(".a_pageNum").click(function () {
        //当此class下的选项被选中 的时候，获取其选中的值
        var pageSize = $(".dataTables_length option:selected").val();
        var pageNum = $(this).text();

        //alert(pageNum);
        //alert(pageSize);
        //alert(location.href);
        location.href='/dynamic_table2?pageNum='+pageNum+'&pageSize='+pageSize;
        window.event.returnValue=false;
    });
</script>


</body>
</html>
